/* font */
@font-face {
  src: url('../Asset/Font/D-DIN.woff2') format('woff2');
  font-family: 'DIN';
  font-weight: normal;
  font-style: normal;
}



/* Cyrene Theme (Default) */
:root {
  --bg-color: #fad8e9;
  --text-color: #d3f0fd;
  --accent-color: #d498e0;
  --text-color2: #b8c0c3;
  --border-color: #e087f2;
  --normal-cursor: url("../Asset/Cursor/Cyrene/Normal.cur"), auto;
  --link-cursor: url("../Asset/Cursor/Cyrene/Link.cur"), pointer;
  --text-cursor: url("../Asset/Cursor/Cyrene/Text.cur"), text;
  --bg-music: ;
  cursor: var(--normal-cursor);

}

:root a,
:root button {
  cursor: var(--link-cursor);
}

:root input,
:root textarea {
  cursor: var(--text-cursor);
}

/*Cyrene Theme (Default) */

/* Sparkle Theme*/
[data-theme="sparkle"] {
  --bg-color: #fc3576;
  --text-color: #2c89dc;
  --accent-color: #b41238;
  --border-color: #97102f;
  --normal-cursor: url("../Asset/Cursor/Sparkle/Normal.cur");
  --text-cursor: url("../Asset/Cursor/Sparkle/text.png");
  --bg-music: "Asset/Music/Monodrama.mp3";
  cursor: var(--text-cursor);
}

/* Sparkle Theme */

/* Castorice Theme */
[data-theme="castorice"] {
  --bg-color: #b56cf4;
  --text-color: #231a4f;
  --accent-color: #fdb3fe;
  --border-color: #ed8fee;
  --normal-cursor: url("../Asset/Cursor/Castorice/Normal.cur"), auto;
  --link-cursor: url("../Asset/Cursor/Castorice/Link.cur"), pointer;
  --text-cursor: url("../Asset/Cursor/Castorice/Text.cur"), text;
  --bg-music: "Asset/Music/Epitaph.mp3";
  cursor: var(--normal-cursor);


}

[data-theme="castorice"] a,
[data-theme="castorice"] button {
  cursor: var(--link-cursor);
}


[data-theme="castorice"] input,
[data-theme="castorice"] textarea,
[data-theme="castorice"] text {
  cursor: var(--text-cursor);
}

/* Castorice Theme */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: "DIN", serif;
  text-align: center;

}



h1 {
  color: var(--accent-color);
}

/*THEME*/
/* NAVBAR */


#navbar {
  position: sticky;
  overflow: hidden;
  top: 5px;
  width: 100%;
  background-color: var(--accent-color);
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--text-color);

}

#musicToggle{
  color: var(--text-color);
  float: left;
  margin-top: 10px;
  margin-left: 1rem;
  cursor: var(--link-cursor);
}

#musicIcon{
  font-size: 160%;
}




.content {
  padding: 16px;
}



.menu-icon {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: var(--link-cursor);
  float: left;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.menu-icon span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 5px;
  transition: 0.3s;
}


.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

#searchContainer {
  float: right;
  margin-top: 0.3rem;
  margin-right: 20px;
  border-radius: 5px;
  text-align: center;
}

#searchInput {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-color: var(--text-color);
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  border-width: 0.1rem;
  padding: 5px;


}



::placeholder {
  color: var(--text-color);
}


/*NAVBAR*/
/*SIDEBAR*/

#gearIcon {
  width: 20%;
}


#settingBtn img {

  transition: transform 0.6s ease;
  transform: rotate(0deg);
}

#settingBtn {
  cursor: var(--link-cursor);
  margin-top: auto;
  margin-bottom: 3rem;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 51;


}

.rotating {
  transform: rotate(360deg);
}

.setting-text {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.expanded .settings-text {
  opacity: 1;
}

.sidebarBtn{
  font-size: 1.2rem;
}
.sidebarBtnText{
  text-decoration: none;
  color: var(--text-color);
}

.sidebarBtnText:hover{
  text-decoration: underline;
}




#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--accent-color);
  transition: left 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  opacity: 90%;
  z-index: 50;
  margin-top: 4rem;
  border: var(--border-color) solid 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;

}

#settingBar {
  left: -250px;
  position: absolute;
  width: 250px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transition: left 0.5s ease;
  z-index: 50;
  margin-top: 4rem;
  border: var(--border-color) solid 0.2rem;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;

}



#settingBar.active {
  left: 14rem;
}

#sidebarLink {
  text-decoration: none;
  color: var(--text-color);
}

#sidebar.active {
  left: 0;
}


#themeSelector {
  background-color: var(--bg-color);
  border-color: var(--text-color);
  border-width: 0.12rem;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: var(--link-cursor);
  color: var(--border-color);
  -webkit-text-stroke: var(--accent-color);
  -webkit-text-stroke-width: 0.02rem;

}

#sidebarTheme {
  float: left;
  font-weight: bold;
}


/* Switch Button */

.settingText{
  float: left;
  font-weight: bold;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 0.25rem;
  bottom: 0.45rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: var(--link-cursor);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--bg-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Switch Button */

/*SIDEBAR*/
/*HEADER*/
#headerIn {


  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;


}

#headerInWrapper {
  background-color: var(--accent-color);
  border-radius: 0.2rem;
  border-top: 0.5rem solid var(--border-color);
  padding: 0.5rem;
  text-align: center;
}

#headerOut {
  margin: 3.5rem;
}

#headerOutLogo {
  display: flex;
  justify-content: center;
}

#headerLogo {
  width: 15%;


}

#headerTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#headerLink {
  columns: 5;
  grid-row: 5;
}

#headerTitle {
  text-align: center;
  font-size: 5rem;
  color: var(--border-color);
  -webkit-text-stroke: var(--text-color);
  -webkit-text-stroke-width: 0.05rem;
  text-decoration: underline;
  text-decoration-color: var(--border-color);
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}

.headerInTitle {
  border-bottom: solid var(--border-color);
  border-width: 0.2rem;
  text-align: center;
  padding: 0.2rem;
  font-size: 120%;

}




.headerInImg {
  margin-top: 1rem;
  border-color: var(--border-color);
  border-width: 0.3rem;
  border-style: solid;
  border-radius: 0.2rem;
  width: 50%;


}

.headerInDesc {
  text-align: center;
  border-top: var(--border-color) solid 0.3rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.headerDescText {
  padding-top: 0.3rem;
}

.separatorTop {
  border-top: var(--border-color) solid 0.3rem;
}

.separatorBot {
  border-bottom: var(--border-color) solid 0.3rem;
}

#headerFoot {
  padding: 1rem;
  font-size: 1.4rem;
}

/*header*/
