/* Cyrene Theme (Default) */
:root {
  --bg-color: #fad8e9;
  --text-color: #d3f0fd;
  --accent-color: #d498e0;
  --text-color2: #b8c0c3;
  --border-color: #e087f2;
}

/* Sparkle Theme*/
[data-theme="sparkle"] {
  --bg-color: #fc3576;
  --text-color: #2c89dc;
  --accent-color: #b41238;
  --border-color: #97102f;
}

/* Castorice Theme */
[data-theme="castorice"] {
  --bg-color: #b56cf4;
  --text-color: #231a4f;
  --accent-color: #fdb3fe;
  --border-color: #ed8fee;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: "Georgia", serif;
  text-align: center;

}

h1 {
  color: var(--accent-color);
}

/*THEME*/
/* NAVBAR */


#navbar {
  position: sticky;
  overflow: hidden;
  top: 5px;
  width: 100%;
  background-color: var(--accent-color);
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--text-color);
  
}




.content {
  padding: 16px;
}



.menu-icon {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  float: left;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.menu-icon span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 5px;
  transition: 0.3s;
}


.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.menu-icon.active span:nth-child(2) {
  opacity: 0;
}
.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

#searchContainer{
  float: right;
  margin-top: 0.3rem;
  margin-right: 20px;
  border-radius: 5px;
  text-align: center;
}

#searchInput{
  background-color: var(--accent-color);
  color: var(--text-color);
  border-color: var(--text-color);
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  border-width: 0.1rem;
  padding: 5px;

  
}



  ::placeholder{
    color: var(--text-color);
  }


/*NAVBAR*/
/*SIDEBAR*/

#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--accent-color);
  transition: left 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  opacity: 70%;
  z-index: 50;
  margin-top: 4rem;
  border: var(--border-color) solid 0.2rem;
}

#sidebarLink {
  text-decoration: none;
  color: var(--text-color);
}

#sidebar.active {
  left: 0;
}

#themeSelector{
  background-color: var(--bg-color);
  border-color: var(--text-color);
  border-width: 0.12rem;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--border-color);
  -webkit-text-stroke: var(--accent-color);
  -webkit-text-stroke-width: 0.02rem;
  
}

#sidebarTheme{
  float: left;
  font-weight: bold;
}

/*SIDEBAR*/
/*HEADER*/
#headerIn{
  background-color: var(--accent-color);
  border-radius: 0.2rem;
  border-top: 0.5rem solid var(--border-color);
  padding: 0.5rem;
  text-align: center;

 display: grid;                   
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;                        


}

#headerOut {
  margin: 3.5rem;
}

#headerOutLogo {
  display: flex;
  justify-content: center;
}

#headerLogo{
  width: 15%;
  
  
}

#headerLink{
  columns: 5;
  grid-row: 5;
}

#headerTitle{
  text-align: center;
  font-size: 5rem;
  color: var(--border-color);
  -webkit-text-stroke: var(--text-color);
  -webkit-text-stroke-width: 0.05rem;
  text-decoration: underline;
  text-decoration-color: var(--border-color);
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}

.headerInTitle{
  border-bottom: solid var(--border-color);
  border-width: 0.2rem;
  text-align: center;
  padding: 0.2rem;
  font-size: 120%;
 
}




.headerInImg{
  margin-top: 1rem;
  border-color: var(--border-color);
  border-width: 0.3rem;
  border-style: solid;
  border-radius: 0.2rem;
  width: 50%;


}
  .headerInDesc{
    text-align: center;
    border-top: var(--border-color) solid 0.3rem;
    margin-top: 0.4rem;
  }

  .headerDescText{
    padding-top: 0.3rem;
  }
/*header*/

